body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  padding: 2rem;
}

/* display grid on main parent */
.emojis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* flex uses for cards */
.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

/* for heading */
.emoji h2 {
  margin: 0 0 1rem 0;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}

/* icons manage */
.icon {
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
}

/* button adjust to bottom */
.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;   

  margin-top: auto; /*key line*/
}
